
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lab1_1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab1_1.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo-wrap"> <a asp-area="" asp-page="/Index"><img src="~/logo.svg" alt="logotyp" /></a></div>
        <nav>
            <ul>
                <li class="nav-item">
                    <a asp-area="" asp-page="/Index">Hem</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-page="/RazorPage">Razor</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-page="/About">Om</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="date-msg">
        @{
            DateTime today = DateTime.Now;
            string dateToday = today.ToString("yyyy-MM-dd");
        }
        <p>Dagens datum är: @dateToday</p>
    </div>

    <main role="main">
        <div class="main-container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <p>
            Hanin Farhan - Kontakta mig via e-post: <a href="mailto:hafa2300@student.miun.se">hafa2300@student.miun.se</a>
        </p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
