@page
@model lab1_1.Pages.AboutModel

@{
    //Titel på webbsidan
    ViewData["Title"] = "Om";
}
<div>
    <h1>Om sidan</h1>
    <article>
        <h2>Om publicering</h2>
        <p>
            Webbapplikationen har skapats i Visual studio och publicerats med hjälp av
            Microsoft Azure och är publikt tillgängligt.
        </p>

    </article>

    <article>
        <h3>Reflektioner</h3>
        <p>
            Det har gått smidigt att jobba med ASP.net Core. Man kommer snabbt in i det och det har varit enkelt 
            att förstå hur alla filer är organiserade. Inkludering och statiska filer har fungerat utan problem. 
            Jag gillar starkt att man kan kombinera razor-syntax med html kod, det är även enkelt att lägga till egen CSS kod.
            Än så länge har jag fått en positiv bild ASP.net Core.
        </p>

    </article>
</div>

@{
}
