@page
@model lab1_1.Pages.RazorPageModel

@{
    //Titel på webbsidan
    ViewData["Title"] = "Razor";
}

<div>
    <h1>Razor</h1>
    <article>
        <h2>Information</h2>
        <p>
            Datum/klockslag samt lästa kurser är utskrivna på sidan.
        </p>
    </article>

    <article>
        @{
            //Skapar variabler av typen DateTime och hämtar datum & tid
            DateTime today = DateTime.Now;
            string dateToday = today.ToString("yyyy-MM-dd");
            string dateHours = today.ToString("HH:mm:ss");
            string dayOfWeek = today.ToString("dddd");
        }
        <h3>Datum/klockslag</h3>

        <!--Skriver ut datum och klockslag-->
        <p>@dateToday <span class="date-hours">@dateHours</span></p>
        <br />

        <!--If sats för att checka om det är fredag-->
        @if (dayOfWeek == "Friday")
        {
            <p>Idag är det fredag!</p>
        }
        else
        {
            <p>Idag är det inte fredag!</p>
        }

    </article>

    <article>
        <h3>Kurser jag har läst:</h3>
        @{
            //Skapar lista över alla kurser jag har läst
            List<String> courseList = new List<String>(){
        "DT057G, Webbutveckling I",
        "DT084G, Introduktion till programmering i JavaScript",
        "DT200G, Grafisk teknik för webb",
        "DT068G, Webbanvändbarhet",
        "DT003G, Databaser",
        "DT211G, Frontend-baserad webbutveckling",
        "DT207G, Backend-baserad webbutveckling",
        "DT208G, Programmering i TypeScript",
        "IK060G, Projektledning",
        "DT071G, Programmering i C# .net",
        "DT193G, Fullstacks-utveckling med ramverk",
        "DT209G, Webbutveckling med Wordpress"
        };

        }
        <ul class="course-list">
            <!--Loopar genom och skriver ut varje kurs-->
            @foreach (var course in courseList)
            {
                <li>@course</li>
            }
        </ul>
    </article>


</div>

