@page
@model lab1_1.Pages.RazorPageModel

@{
    ViewData["Title"] = "Razor";
}

<!--Webbplatsen ska ha stöd för statiska filer från wwwrot från vilken CSS- och JavaScript-filer ska laddas in.
Webbplatsen ska utsmyckas grafiskt med hjälp av CSS, 
och det ska finnas någon form av valfri JavaScript-funktionalitet som ska ligga i en extern JavaScript-fil.
Källkoden ska vara prydligt formaterad och validera korrekt.-->
<h1>Razor sidan</h1>
@{
}
